/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e3e6e6;
}

/* HEADER */
header {
    background-color: #131921;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f3a847;
}

.search-box {
    flex: 1;
    margin: 10px;
    display: flex;
}

.search-box input {
    width: 80%;
    padding: 8px;
    border: none;
    outline: none;
}

.search-box button {
    padding: 8px 12px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul a {
    text-decoration: none;
    color: white;
}
.nav-links2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    font-size: 30px;
}

/* HERO SECTION */
.hero {
    background: url("https://images.unsplash.com/photo-1523275335684-37898b6baf30") center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.hero h1 {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

/* PRODUCTS */
.products {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.product-card {
    background-color:white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 80%;
    height: 180px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card p {
    color: #b12704;
    font-weight: bold;
}

/* DEALS */
.deals {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    
}

.deals h2 {
    margin-bottom: 15px;
}

.deal-items {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.deal {
    min-width: 200px;
    text-align: center;
    margin-right: 100px;
}
.deal img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: #232f3e;
    color: white;
    padding: 30px;
    margin-top: 40px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

footer h4 {
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero {
        height: 200px;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    max-height: 600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}